.movie-finder
	.finder.finder-mood
		.finder-subtitle Trouvons un film selon votre humeur
		%h1.finder-title.with-font Vous avez besoin...

		/ %a.quit{ href: root_path, title: 'Annuler ma recherche' }

		.little-ball-a
		
		.mood-line
			.line

			.line-elements
				.line-element#line-laugh De rire
				.line-element#line-scared De frissons
				.line-element#line-escape De vous évader
				.line-element#line-action D'action
				.line-element#line-emotions D'émotions

		.next
			%a{ onclick: 'slideNext()'}

		.mood-buttons
			.button-link#mood-laugh{ data: { mood: 'laugh' } } De rire
			.button-link#mood-scared{ data: { mood: 'scared' } } De frissons
			.button-link#mood-escape{ data: { mood: 'escape' } } De s'évader
			.button-link#mood-action{ data: { mood: 'action' } } D'action
			.button-link#mood-emotions{ data: { mood: 'emotions' } } D'émotions

	.finder.finder-facts
		.finder-subtitle Pour finir, lions les genres...
		%h1.finder-title.with-font Ce fait historique vous intéresse ?

		.little-ball-b
		.little-ball-c
		
		.related-facts
			.fact
				.image
					%img.poster-img.fact-img{ src: '' }
				.content
					.fact-title.with-font
					%p.fact-text

			

			.line-no

			

			.line-yes

			.controls
				.no{ onclick: 'finderShiftFact(); finderPushFact();'} non
				.not-seen{ onclick: 'finderShiftFact(); finderPushFact();'} changer
				.yes{ onclick: 'finderShiftFact(); finderPushFact();'} oui

			.circle-wrapper
				.circle
				

			/.line-ball

			/.next
			/	= link_to '', find_movies_path(step: 4)


	%script
		var FACTS = [];
		var data = [];
		var NEXT_URL = "#{more_movie_path(@movie)}";
		- for fact in @related_facts
			data = { id: "#{fact.id}", image: "#{fact.photo}", title: "#{fact.title}", text: "#{fact.content}"};
			FACTS.push(data);

	.finder.finder-movies
		.finder-subtitle Lions nos films avec ceux que vous avez déjà vu
		%h1.finder-title.with-font Avez-vous aimé...

		.little-ball-b
		.little-ball-c

		.related-movies
			.movie
				.poster
					%img.poster-img{ src: '' }
			

			.line-no

			.line-yes

			/.line-ball

			.controls
				
				.no{ onclick: 'finderShiftMovie(); finderPushMovie();'} non
				.not-seen{ onclick: 'finderShiftMovie(); finderPushMovie();'} changer
				.yes{ onclick: 'finderShiftMovie(); finderPushMovie();'} oui

			.circle-wrapper
				.circle

			/.next
			/	= link_to '', find_movies_path(step: 3)


	%script
		var MOVIES = [];
		var data = [];
		- for movie in @related_movies
			data = { id: "#{movie.id}", image: "#{movie.image}" };
			MOVIES.push(data);

.movie.movie-found
	/ .movie-scope.with-font{ href: '/' }
	/ 	SC
	/ 	%span.blue> 0
	/ 	PE

	.hidden-nav
		.hidden-nav-title.with-font Metropolis
		.hidden-nav-wrapper
			%a.doc{ href: documentation_movie_path(@movie) } 
			%a.watch{ href: watch_movie_path(@movie) } 
			%a.social{ href: community_movie_path(@movie) } 
	

	.line-left
	.line-right
	.find-another
		Déjà vu ?
		%br
		Autre propositon

	%img{ src: '/assets/finder-found-picto.png'}
	.found Nous vous conseillons

	%h1.movie-title.with-font
		= @movie.title

	.movie-author
		= @movie.author

	.movie-year
		= @movie.year

	.movie-actions
		%a.movie-more.button-link{ href: '#', onclick: 'slideToMovieMore(); return false;' }
			En savoir +

		%a.movie-watch.button-link{ href: watch_movie_path(@movie) }
			Lecture du film

	.movie-more-nav
		.doc
			%a.button-link{ href: documentation_movie_path(@movie) } Documentation
		.watch
			%a.button-link{ href: watch_movie_path(@movie) } Lecture
		.social
			%a.button-link{ href: community_movie_path(@movie) } Communauté

	.movie-more-content
		.synopsis
			%h2.with-font SYN0PSIS
			.content
				%p Metropolis est une mégapole futuriste dans une société dystopique divisée en une ville haute, où vivent les familles intellectuelles dirigeantes, dans le luxe et le divertissement, et une ville basse, où les travailleurs font fonctionner la ville et sont opprimés par la classe dirigeante.
				%p Maria, une femme de la ville basse, emmène clandestinement des enfants visiter la ville haute. Le groupe se fait repousser, mais Freder Fredersen, le fils du dirigeant de Metropolis, tombe amoureux d’elle. 
				%p En descendant dans la ville basse pour la retrouver, il découvre l’atroce vie infligée aux ouvriers.

			.discover-more

		.trailer#trailer
		

	/ %a.movie-new-search{ href: find_movies_path }
	/ 	nouvelle recherche

.related-bg.inglorious-bg
.related-bg.element-bg
.related-bg.blade-bg
.related-bg.curiosity-bg
.related-bg.foxconn-bg
.related-bg.google-bg

.scroll-slide.scroll-slide-left-a
.scroll-slide.scroll-slide-left-b
.scroll-slide.scroll-slide-right-a
.scroll-slide.scroll-slide-right-b

.notice-display.notice-display-a
.notice-display.notice-display-b

.scroll-slide-next