.movie-finder
	.finder.finder-mood
		.finder-subtitle Trouvons un film selon votre humeur
		%h1.finder-title.with-font Vous avez besoin...

		%a.quit{ href: root_path, title: 'Annuler ma recherche' }
		
		.mood-line
			.line

			.line-elements
				.line-element#line-laugh De rire
				.line-element#line-scared De frissons
				.line-element#line-escape De vous évader
				.line-element#line-action D'action
				.line-element#line-emotions D'émotions

		.next
			%a{ onclick: 'slideNext()'}

		.mood-buttons
			.button-link#mood-laugh{ data: { mood: 'laugh' } } De rire
			.button-link#mood-scared{ data: { mood: 'scared' } } De frissons
			.button-link#mood-escape{ data: { mood: 'escape' } } De s'évader
			.button-link#mood-action{ data: { mood: 'action' } } D'action
			.button-link#mood-emotions{ data: { mood: 'emotions' } } D'émotions

	.finder.finder-facts
		.finder-subtitle Pour finir, lions les genres...
		%h1.finder-title.with-font Ce fait historique vous intéresse ?

		.related-facts
			.fact
				.image
					%img.poster-img.fact-img{ src: '' }
				.fact-title.with-font
				%p.fact-text

			.no{ onclick: 'finderShiftFact(); finderPushFact();'}

			.line-no

			.yes{ onclick: 'finderShiftFact(); finderPushFact();'}

			.line-yes

			/.line-ball

			/.next
			/	= link_to '', find_movies_path(step: 4)


	%script
		var FACTS = [];
		var data = [];
		var NEXT_URL = "#{find_movies_path(step: 4)}";
		- for fact in @related_facts
			data = { id: "#{fact.id}", image: "#{fact.photo}", title: "#{fact.title}", text: "#{fact.content}"};
			FACTS.push(data);

	.finder.finder-movies
		.finder-subtitle Lions nos films avec ceux que vous avez déjà vu
		%h1.finder-title.with-font Avez-vous aimé...

		.related-movies
			.movie
				.poster
					%img.poster-img{ src: '' }
			.no{ onclick: 'finderShiftMovie(); finderPushMovie();'}

			.line-no

			.yes{ onclick: 'finderShiftMovie(); finderPushMovie();'}

			.line-yes

			/.line-ball

			%a.not-seen.button-link{ onclick: 'finderShiftMovie(); finderPushMovie();'} Je ne l'ai pas vu

			/.next
			/	= link_to '', find_movies_path(step: 3)


	%script
		var MOVIES = [];
		var data = [];
		- for movie in @related_movies
			data = { id: "#{movie.id}", image: "#{movie.image}" };
			MOVIES.push(data);

.movie.movie-found
	/ .movie-scope.with-font{ href: '/' }
	/ 	SC
	/ 	%span.blue> 0
	/ 	PE

	/ %img{ src: '/assets/finder-found-picto.png'}
	/ .found Nous vous conseillons

	%h1.movie-title.with-font
		= @movie.title.gsub 'o', '0'

	.movie-author
		= @movie.author

	.movie-year
		= @movie.year

	.movie-actions
		%a.movie-more.button-link{ href: more_movie_path(@movie) }
			En savoir +

		%a.movie-watch.button-link{ href: watch_movie_path(@movie) }
			Lecture du film

	/ %a.movie-new-search{ href: find_movies_path }
	/ 	nouvelle recherche
