!!! 5
%html
	%head
		%title SCOPE | L'oeil ouvert sur le monde
		= stylesheet_link_tag    "application", media: "all"
		= javascript_include_tag "application"
		= csrf_meta_tags
		= yield :head

	%body.with-layout{ :data => { 'no-turbolinks' => true }}

		%nav.navbar
			%a{ href: "/", class: "nav-scope with-font"}
				SC
				%span.blue> 0
				PE

			= link_to 'Les films', :movies

			= link_to 'On trouve pour vous', :find_movies

			= link_to "L'Application", nil

			.nav-search
				%form.search-form{ action: search_movies_path, method: :get }
					%input{ type: :text, name: :s, placeholder: 'Rechercher un film' }
					%img.submit{ src: '/assets/search-btn.png' }
			
			.nav-right
				- if current_user
					= link_to 'Déconnexion', signout_path, id: 'sign_out'
				- else
					= link_to 'Inscription', login_path, id: 'sign_in'


		= yield

		.finder-progression
			.progress-percent.blue.with-font
				%span.num
					= @percent
				\%
			.progress-bar

	:javascript
		window.percent = #{@percent} ;
		$(function () {
			var percent = Number($('.progress-percent .num').text());
			if (percent == '0') percent = 2;
			$('.finder-progression .progress-bar').css('width', percent+'%');
			$('.progress-percent').css('left', percent+'%');
		});
