!!! 5
%html
	%head
		%title Scope
		= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true 
		= javascript_include_tag "application", "data-turbolinks-track" => true
		= csrf_meta_tags
		= yield :head

	%body.with-layout{ :data => { 'no-turbolinks' => true }}

		%nav.navbar.tunnel-nav
			%a.nav-scope.with-font{ href: '/' }
				SC
				%span.blue> 0
				PE

		= yield

		.finder-progression
			.progress-percent.blue.with-font
				%span.num
					= @percent
				\%
			.progress-bar

	:javascript
		$(document).on('page:change', function () {
			var percent = Number($('.progress-percent .num').text());
			if (percent == '0') percent = 2;
			$('.finder-progression .progress-bar').css('width', percent+'%');
			$('.progress-percent').css('left', percent+'%');
		});
